---
title: 'Microblog | mdwp - Web'
description: 'In meinem Microblog finden Sie Beiträge von mir, die für Facebook, Linkedin und
  Twitter geschrieben wurden, auf einen Blick.'
---
<aside class="page-head">
  <h2>Microblog</h2>
  <h1>Social Networking</h1>
  <p>In meinem Microblog finden Sie Beiträge von mir, die für Facebook, Linkedin und
    Twitter geschrieben wurden, auf einen Blick.
  Gerne können Sie mir dort folgen.</p>
</aside>

<% data.mdwp.post.sort_by {|k,v| v["date"]}.reverse_each do |post| %>
<section>
  <header>
  <h2><a href="/<%= post[1]["slug"] %>"><%= post[1]["title"] %></a></h2>
  <%= post[1]["date"].strftime("%d.%m.%Y") %>
  </header>
  <%= Kramdown::Document.new(post[1]["summary"]).to_html %>

  <p><a href="/<%= post[1]["slug"] %>">Mehr lesen</a></p>
</section>
<% end %>
